.ButtonLink {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background .3s;
  }
  .BtnLink:hover,
  .BtnLink:focus,
  .ButtonLink:hover,
  .ButtonLink:focus {
    background:  var(--primary);
  }
.BtnLink{
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
    padding: 16px 24px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    opacity: .7;
}
li{
  text-align: start;
}
